doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU", crossorigin="anonymous")

  body
    nav()
      div(class="nav nav-tabs", id="nav-tab", role="tablist")
        a(class="nav-item nav-link active", data-toggle="tab", href="/", role="tab") Go Home
        a(class="nav-item nav-link", data-toggle="tab", href="/ben", role="tab") Ben's page
        a(class="nav-item nav-link", data-toggle="tab", href="/anna", role="tab") Anna's page
        a(class="nav-item nav-link", data-toggle="tab", href="/anastasia", role="tab") Anastasia's page
      
    block content

